__pycache__/
*.pyc
.vscode/
.venv/
venv/
.env/
.idea/
yolov8n.pt
et --hard b0c002e
yolo/basic/intruders
fastapi/p4/frontend/node_modules/
/yolo/training

yolo/basic/tezt.py
all.txt
yolo/basic/hexer_security.db
