<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hexer Ai dashboard</title>
    <link rel="stylesheet" href="{{ request.url_for('static', path='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 id="Heading">Hexer Services</h1>
        <div class="data">user : <strong>{{ user_name }}</strong></div>
        <div class="data">college : <strong>{{ college }}</strong></div>
        <div class="data">RAM Usage : <strong>{{ ram_usage }}</strong></div>
        <div class="data">CPU Frequency : <strong>{{ cpu_frequency }} MHz</strong></div>
        <div class="data">Disk Usage : <strong>{{ Disk_usage }}</strong></div>
        <div class="data">Network Sent : <strong>{{ net_sent }}</strong></div>
        <div class="data">Network Received : <strong>{{ net_recv }}</strong></div>
        <div class="data">Disk Total : <strong>{{ disk_total }}</strong></div>
        <div class="data">Disk Free : <strong>{{ disk_free }}</strong></div>
        <div class="data">System Boot Time : <strong>{{ system_boot_time }}</strong></div>
        <div class="data">Physical Cores : <strong>{{ physical_cores }}</strong></div>
        <div class="data">Total Threads : <strong>{{ total_threads }}</strong></div>
        <div class="data">
    <strong>CPU Core Loads:</strong>
    <ul style="list-style: none; padding: 0;">
        {% for load in cpu_per_core %}
            <li style="display: inline-block; margin-right: 10px;">
                Core {{ loop.index0 }}: <span style="color: #00ff00;">{{ load }}%</span>
            </li>
        {% endfor %}
    </ul>
</div>
        <div class="data">Battery Status : <strong>{{ battery_status }}</strong></div>

    </div>
</body>
</html>